{% extends 'shared/_layout.html' %}
{% load static %}
{% load render_partial %}

[%{% block title %}
    بازیابی کلمه عبور
{% endblock %}

{#header#}
{% block header %}
    <header style="background-image: url({% static 'Images/3-d5.jpg' %}">
        <!-- navbar -->
        <nav dir="rtl" class="navbar navbar-expand-lg bg-custom navbar-dark py-3">
            <div class="container-fluid d-md-flex">
                <a class="navbar-brand d-flex align-content-center flex-grow-1 justify-content-center flex-lg-grow-0" href="{% url 'home-page' %}">
                <img src="{% static 'Images/logo1.svg' %}" width="100" height="20">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-lg-center" id="navbarNav">
                    {#   nav bar linkns here    #}
                {% render_partial 'links_module.views.links_component' %}
                </div>
                <div class="d-none d-lg-flex d-grid gap-2" id="navbarAccount">
                  <button class="btn bg-login" data-bs-toggle="modal" data-bs-target="#Login_form_Modal">ورود</button>
                    <button class="btn bg-register" data-bs-toggle="modal" data-bs-target="#Register_form_Modal">عضویت</button>
                </div>
            </div>
        </nav>
        <!-- navbar -->

                  <!-- Login form Modal -->
              <div dir="ltr" class="modal fade" id="Login_form_Modal" tabindex="-1" aria-labelledby="Login_form_ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header modal-header-CustomStyle">
                      <h1 class="modal-title fs-5" id="Login_form_ModalLabel">ورود به سایت</h1>
                      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body modal-login">
                        {#           render login page here             #}
                        {% render_partial 'account_module.views.LoginVeiw' %}
                    </div>
                  </div>
                </div>
              </div>
              <!-- Login form Modal -->

              <!-- Register form  Modal -->
              <div dir="ltr" class="modal fade" id="Register_form_Modal" tabindex="-1" aria-labelledby="Register_form_Modal" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header modal-header-CustomStyle">
                      <h1 class="modal-title fs-5" id="Register_form_Modal">ثبت نام در سایت</h1>
                      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body modal-register">
                      {% render_partial 'account_module.views.RegisterView' %}
                    </div>
                  </div>
                </div>
              </div>
              <!-- Register form  Modal -->

              <!-- recoverPass form Modal -->
              <div dir="ltr" class="modal fade" id="recoverPass_form_ModalLabel" tabindex="-1" aria-labelledby="recoverPass_form_ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header modal-header-CustomStyle">
                      <h1 class="modal-title fs-5" id="recoverPass_form_ModalLabel">فراموشی رمز عبور</h1>
                      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {#           render forgotPass here             #}
                        {% render_partial 'account_module.views.ForgetPassword' %}
                    </div>
                  </div>
                </div>
              </div>
              <!-- recoverPass form Modal -->


    </header>
{% endblock %}
{#header#}
{% block main %}
    <main style="height: 100vh;background-image: url({% static 'Images/3-d5.jpg' %}">
        <section class="d-flex justify-content-center">
            <div class="w-50 bg-white  bg-opacity-75 my-5 p-5">
                <form action="{% url 'reset_password_page' active_code=user.email_activation_code%}" method="post" id="form-modal" class="d-flex flex-column align-items-center w-100">
          {% csrf_token %}
        <div class="mb-3 w-75">
          <label for="login_email" class="form-label">
              {{ reset_pass_form.password.label }}
          </label>
          {{ reset_pass_form.password}}
        </div>
        <div class="mb-3 w-75">
          <label for="login_pass" class="form-label">
            {{ reset_pass_form.confirm_password.label }}
          </label>
          {{ reset_pass_form.confirm_password }}
        </div>
        <button type="submit" class="btn customcolor3 btn-lg">ثبت رمز عبور</button>
                    {% if reset_pass_notMatch_confirmPass %}
                        <div class="alert alert-danger mt-3" style="text-align: center">
                   رمز عبور و تکرار آن تطابق ندارد
                    </div>
                    {% endif %}
                    {% if password_len_error_reset_msg %}
                        <div class="alert alert-danger mt-3" style="text-align: center">
                            رمز عبور میبایست بیشتر از 8 کارکتر باشد
                        </div>
                    {% endif %}
      </form>
            </div>
        </section>
    </main>
{% endblock %}