{% extends "shared/_layout.html" %}
{% load static %}
{% load render_partial %}
{% block title %}
    حساب کاربری {{ request.user.username }}
{% endblock %}
{#header#}
{% block header %}
    <header style="background-image: url({% static 'Images/3-d5.jpg' %}">
        <!-- navbar -->
        <nav dir="rtl" class="navbar navbar-expand-lg bg-custom navbar-dark py-3">
            <div class="container-fluid d-md-flex">
                <a class="navbar-brand d-flex align-content-center flex-grow-1 justify-content-center flex-lg-grow-0" href="#">
                <img src="{% static 'Images/logo1.svg' %}" width="100" height="20">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-lg-center" id="navbarNav">
                    {#   nav bar linkns here    #}
                {% render_partial 'links_module.views.links_component' %}
                </div>
                <div class="d-none d-lg-flex d-grid gap-2" id="navbarAccount">
                <button class="btn bg-login">خوش اومدی {{ user.username }}</button>
                <a href="{% url 'logout_page' %}" class="btn btn-danger">خروج</a>
                </div>
            </div>
        </nav>
        <!-- navbar -->
    </header>
{% endblock %}
{#header#}

{#main#}
{% block main %}
    <main id="userPanel-main" style="height: fit-content;background-image: url({% static 'Images/3-d5.jpg' %}">
        <!-- userpanl -->
        <section dir="rtl">
            <div class="container-fluid">
                <div class="row">
                    <!-- user Info -->
                    <div style="height: 100vh" class="col-md-5 offset-2 bg-white bg-opacity-75 d-flex flex-column p-5 lh-lg">
                        <p><span class="fw-bold">نام کاربری : </span> {{ user.username }}</p>
                        <p><span class="fw-bold">ایمیل : </span>{{ user.email }}</p>
                        <!-- if has team -->
                        {% if userTeam_name %}
                        <p><span class="fw-bold">وضعیت تیم :</span> عضو تیم {{ userTeam_name }} <i class="fa fa-check" style="font-size:24px;color:#369789"></i> </p>
                            {% elif user.is_capitan and  user.has_team == False %}
                             <p><span class="fw-bold">وضعیت تیم :</span> تیم جدید - بدون اسم <i class="fa fa-check" style="font-size:24px;color:#369789"></i> </p>
                            <div class="alert alert-danger" role="alert">
                              لطفا نام تیم جدید خود را ثبت کنید
                            </div>
                            {% else %}
                            <!-- if has not team -->
                        <p><span class="fw-bold">وضعیت تیم :</span> بدون عضویت در تیم <i class="fa fa-close" style="font-size:24px;color:rgb(190, 24, 24)"></i> </p>
                        {% endif %}
                        <!-- show if user is capitan -->
                        {% if user.is_capitan %}
                             <p><span class="fw-bold"> شرکت به عنوان : </span> کاپیتان <i class="fa fa-user-circle" style="font-size:24px;color:#188cbe"></i></p>
                            {% else %}
                            <!-- show if user is memeber -->
                        <p><span class="fw-bold"> شرکت به عنوان : </span>  عضو عادی <i class="fa fa-user-circle-o" style="font-size:24px;color:#188cbe"></i></p>
                        {% endif %}
                        <!-- if has team or is capitan -->
                        <p><span class="fw-bold"> اطلاعات هم تیمی های شما : </span> </p>
                        <ul class="pe-5">
                            {% if user == team.capitan %}
                                <li class="py-2"> هم تیمی : {{ team.teamMate1}}</li>
                            <li class="py-2"> هم تیمی :  {{ team.teamMate2 }}</li>
                            {% elif user == team.teamMate1%}
                                <li class="py-2"> هم تیمی :  {{ team.capitan}}</li>
                            <li class="py-2"> هم تیمی :  {{ team.teamMate2 }}</li>
                            {% elif user == team.teamMate2 %}
                                <li class="py-2">  هم تیمی : {{ team.capitan}}</li>
                            <li class="py-2"> هم تیمی : {{ team.teamMate1 }}</li>
                            {% endif %}
{#                            <li class="py-2"> - کاربر اول</li>#}
{#                            <li class="py-2"> - کاربر دوم</li>#}
                        </ul>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#LeaveTeam_form_ModalLabel">انصراف از تیم</button>
                        <button class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#ChangeUserInfo_form_ModalLabel">ویرایش اطلاعات کاربری</button>
                        <!-- LeaveTeam Modal -->
                        <div dir="ltr" class="modal fade" id="LeaveTeam_form_ModalLabel" tabindex="-1" aria-labelledby="LeaveTeam_form_ModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header modal-header-CustomStyle">
                                <h1 class="modal-title fs-5" id="LeaveTeam_form_ModalLabel">  توجه</h1>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                <form id="form-modal" class="d-flex flex-column align-items-center w-100">
                                    <div class="alert alert-warning m-3 text-center" id="successFoundUserAlert" role="alert">
                                        آیا از انصراف از حضور در تیم ملوان مطمئن هستید؟
                                    </div>
                                    <button type="submit" class="btn customcolor3 btn-lg"> قبول دارم</button>
                                </form>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- LeaveTeam form Modal -->

                        <!-- changeUserInfo Modal -->
                        <div dir="ltr" class="modal fade" id="ChangeUserInfo_form_ModalLabel" tabindex="-1" aria-labelledby="ChangeUserInfo_form_ModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header modal-header-CustomStyle">
                                <h1 class="modal-title fs-5" id="ChangeUserInfo_form_ModalLabel">  توجه</h1>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body modal-changeUserInfo">
                                {#  --- chnageUserInfo modal form  ---#}
                                <form id="form-modal" class="d-flex flex-column align-items-center w-100">
                                <div class="mb-3 w-75">
                                      <label for="register_name" class="form-label">
                                          ایمیل
                                      </label>
                                      <input type="text" class="form-control" id="nameAndFamilyInput">
                                </div>
                                    <div class="mb-3 w-75">
                                      <label for="register_name" class="form-label">
                                          نام کاربری
                                      </label>
                                      <input type="text" class="form-control" id="nameAndFamilyInput">
                                </div>
                                    <button type="submit" class="btn customcolor3 btn-lg">تغییر بده</button>
                                </form>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- changeUserInfo Modal -->

                        <p style="text-align: center;">
                            <span class="fw-bold">زمان باقی مانده تا شروع مسابقه :</span>
                        </p>
                        <div class="d-flex flex-row-reverse justify-content-center" id="timer">
                            <div id="day-container" class="d-flex flex-column align-items-center p-3">
                                <div id="days" style="font-size: 1.5rem;">00</div>
                                <span style="font-size: 1rem;">روز</span>
                            </div>
                            <div id="hour-container" class="d-flex flex-column align-items-center p-3">
                                <div id="hours" style="font-size: 1.5rem;">00</div>
                                <span style="font-size: 1rem;">ساعت</span>
                            </div>
                            <div id="minutes-container" class="d-flex flex-column align-items-center p-3">
                                <div id="minutes" style="font-size: 1.5rem;">00</div>
                                <span style="font-size: 1rem;">دقیقه</span>
                            </div>
                            <div id="seconds-container" class="d-flex flex-column align-items-center p-3">
                                <div id="seconds" style="font-size: 1.5rem;">00</div>
                                <span style="font-size: 1rem;">ثانیه</span>
                            </div>
                        </div>
                    </div>
                    <!-- user Settings -->
                    <div class="col-md-5 p-sm-5 ">
                        <!-- user Type -->
                        {% render_partial 'account_module.views.changeUserType' %}
                        {% if user.is_capitan %}
                            <!-- Capitan Section - Add teamMate -->
                            <div class="row mt-sm-5 bg-warning bg-opacity-25 justify-content-center">
                            <p class="text-bg-warning text-white" style="text-align: center;">
                                مدیریت اعضای گروه
                            </p>
                            <p class="text-white">
                                لیست اعضای گروه :
                            </p>
                            <ul class="text-white pe-md-5">
                                <li class="py-2 input-group justify-content-between align-items-center">
                                    {% if team.teamMate1 != None %}
                                        <p class="fs-5 m-0">{{ team.teamMate1 }}</p>
                                        <form action="{% url 'remove_user' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="teamMateName" value="{{ team.teamMate1 }}">
                                            <input type="hidden" name="capitan" value="{{ user }}">
                                            <button class="btn btn-danger">حذف از گروه</button>
                                        </form>
                                    {% endif %}
                                </li>
                            <li class="py-2 input-group justify-content-between align-items-center">
                                    {% if team.teamMate2 != None %}
                                        <p class="fs-5 m-0">{{ team.teamMate2 }}</p>
                                        <form action="{% url 'remove_user' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="teamMateName" value="{{ team.teamMate2 }}">
                                            <input type="hidden" name="capitan" value="{{ user }}">
                                            <button class="btn btn-danger">حذف از گروه</button>
                                        </form>
                                    {% endif %}
                                </li>
                            </ul>
                                <button class="btn customcolor3 w-50 m-4" data-bs-toggle="modal" data-bs-target="#addTeamMate_form_ModalLabel">
                                افزودن هم تیمی <i class="fa fa-user-plus" style="font-size:24px"></i>
                                 </button>


                            <!-- add teamMate Modal -->
                            <div dir="ltr" class="modal fade" id="addTeamMate_form_ModalLabel" tabindex="-1" aria-labelledby="addTeamMate_form_ModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header modal-header-CustomStyle">
                                        {% if userTeam_name is not None %}
                                            {% if team.teamMate1 is None or team.teamMate2 is None %}
                                            <h1 class="modal-title fs-5" id="Login_form_ModalLabel"> افزودن هم تیمی</h1>
                                            {% elif team.teamMate1 is not None and team.teamMate2 is not None %}
                                            <h1 class="modal-title fs-5" id="Login_form_ModalLabel"> توجه</h1>
                                            {% endif %}
                                        {% else %}
                                            <h1 class="modal-title fs-5" id="Login_form_ModalLabel">تعیین نام تیم</h1>
                                        {% endif %}
                                     <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    <form action="{% url 'inviteView' %}" method="post" id="form-modal" class="d-flex flex-column align-items-center w-100">
                                        {% csrf_token %}
                                        <div class="mb-3 w-75 text-center">
                                            {% if userTeam_name is not None %}
                                                {% if team.teamMate1 is None or team.teamMate2 is None %}
                                                    <label for="exampleInputEmail1" class="form-label">آدرس ایمیل هم تیمی</label>
                                                    <input name="InviteEmail" type="email" class="form-control" id="exampleInputEmail1">
                                                    <button type="submit" class="btn customcolor3 btn-lg mt-3"> ارسال درخواست</button>
                                                {% elif team.teamMate1 is not None and team.teamMate2 is not None %}
                                                <label for="exampleInputEmail1" class="form-label">ظرفیت تیم شما تکمیل شده است</label>
                                                {% endif %}
                                            {% else %}
                                                <label for="exampleInputEmail1" class="form-label">ابتدا میبایست نام تیم خود را مشخص کنید</label>
                                            {% endif %}
                                        </div>
                                    </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!-- add teamMate form Modal -->
                            {% if send_invite %}
                                <div class="alert alert-success" role="alert">
                              دعوت نامه با موفقیت ارسال شد
                            </div>
                                {% elif user_notFound %}
                                <div class="alert alert-danger" role="alert">
                              کاربری با ایمیل وارد شده یافت نشد
                            </div>
                                {% elif can_not_send_hasTeam_invite %}
                                <div class="alert alert-danger" role="alert">
                              امکان ارسال دعوت نامه به فردی که عضو تیم دیگری است، وجود ندارد
                            </div>
                            {% endif %}

                        </div>
                            {% else %}
                            <!-- Normal User Section -->
                        <div class="row mt-md-5 bg-warning bg-opacity-25 justify-content-center">
                            <p class="text-bg-warning text-white" style="text-align: center;">
                                بخش دعوت نامه های شما
                            </p>
                            <p class="text-white">
                                لیست دعوت نامه های ارسال شده برای شما:
                            </p>
                            <ul class="text-white pe-md-5">
                                {% for invite in invites %}
                                    <li class="py-2 input-group justify-content-between align-items-center">
                                    <p style="font-size: 17px" class="m-0">{{ invite.sender.username }} شما را دعوت کرده است</p>
                                    <div class="btn-group gap-3">
                                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#AccpentInvite_form_ModalLabel">پذیرفتن</button>
                                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#RejectInvite_form_ModalLabel">رد کردن</button>
                                    </div>
                                </li>
                                    {% if group_is_full %}
                                        <div class="alert alert-danger" role="alert">
                              ظرفیت گروه تکمیل شده است
                                    </div>
                                    {% endif %}
                                    <!-- AccpentInvite Modal -->
                                    <div dir="ltr" class="modal fade" id="AccpentInvite_form_ModalLabel" tabindex="-1" aria-labelledby="AccpentInvite_form_ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header modal-header-CustomStyle">
                                            <h1 class="modal-title fs-5" id="Login_form_ModalLabel">  توجه</h1>
                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            <form action="{% url 'accept_invite' %}" method="post" id="form-modal" class="d-flex flex-column align-items-center w-100">
                                                {% csrf_token %}
                                                <div class="alert alert-warning m-3 text-center" id="successFoundUserAlert" role="alert">
                                                    با پذیرفتن این دعوت نامه شما عضو تیم جدیدی خواهید شد
                                                </div>
                                                <input type="hidden" name="sender" value="{{ invite.sender }}">
                                                <input type="hidden" name="reciver" value="{{ invite.reciver }}">
                                                <button type="submit" class="btn customcolor3 btn-lg"> قبول دارم</button>
                                            </form>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <!-- AccpentInvite form Modal -->

                                    <!-- RejectInvite Modal -->
                                    <div dir="ltr" class="modal fade" id="RejectInvite_form_ModalLabel" tabindex="-1" aria-labelledby="AccpentInvite_form_ModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header modal-header-CustomStyle">
                                            <h1 class="modal-title fs-5" id="Login_form_ModalLabel">  توجه</h1>
                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            <form action="{% url 'reject-invite' %}" method="post" id="form-modal" class="d-flex flex-column align-items-center w-100">
                                                {% csrf_token %}
                                                <div class="alert alert-warning m-3 text-center" id="successFoundUserAlert" role="alert">
                                                    از رد کردن این درخواست مطمن هستید؟
                                                </div>
                                                <input type="hidden" name="sender" value="{{ invite.sender }}">
                                                <input type="hidden" name="reciver" value="{{ invite.reciver }}">
                                                <button type="submit" class="btn customcolor3 btn-lg"> بله</button>
                                            </form>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <!-- RejectInvite form Modal -->

                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <!-- userpanl -->
    </main>
{% endblock %}
{#main#}
