{% load render_partial %}
<!-- changeUserInfo Modal -->
    <div dir="ltr" class="modal fade" id="editUserInfo_form_ModalLabe" tabindex="-1" aria-labelledby="editUserInfo_form_ModalLabe" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-CustomStyle">
            <h1 class="modal-title fs-5" id="editUserInfo_form_ModalLabe">  توجه</h1>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body modal-changeUserInfo">
            {#  --- chnageUserInfo modal form  ---#}
                {% render_partial 'account_module.views.editUserInfo' %}
            </div>
        </div>
        </div>
    </div>
    <!-- changeUserInfo Modal -->